
@font-face {
   font-family: 'Anton';
   src: url(Assets/Anton-Regular.otf);
}

body {
    /* background-color: rgb(24, 27, 25); */
    /* background-color: rgb(241, 236, 239); */
    background-color: rgb(18, 16, 18);
    margin: 0px;
}

h1 {
    font-family: 'Anton';
    /* font-family: 'Courier New' ; */
    font-size: 20pt;
    font-weight: normal;
    margin-top: 6px;
    color: rgb(237, 215, 185);
}

h1:hover {
    color: rgb(30,18,39);
    opacity: 0.5;
}

a {
    text-decoration: none;
}

img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

#header {
    /* background-color: rgb(133, 28, 98); */
    /* background-color: rgb(126, 133, 28); */
    /* background-color: rgb(124, 122, 113); */
    /* background-color: rgb(179, 164, 164); */
    background-color: rgb(59, 11, 58);
    /* background-color: rgb(45, 24, 60); */
    border-style: solid;
    border-color: rgb(203, 186, 162);
    border-width: 2px;

    position: fixed;
    top: -2px;
    left: -2px;
    border-radius: 0px 0px 24px 0px;
    display: flex;
    direction: row;
    padding-left: 30px;
    gap: 24px;

    z-index: 1;

    /* width: 100%; */
    height: 52px; /* make sure .grid margin-top uses the same value*/
}

#altRow{
    /* width: 600px; */
    display: flex;
    direction: row;
    gap: 24px;
}


.grid {

    margin-top: 52px; /*make sure this is the same value as #header height */
    margin-bottom: 15px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(170px, 243px));
    padding-top: 10px;
    gap: 14px;
    justify-content: center;

}

.test_cell {
    position: relative;
    width: 243px;
    height: 360px;

    background-color:blueviolet;
    opacity: 0.1;
}

.cell {
    position: relative;
    /* make sure width to height ratio is 27:40 */
    width: 243px;
    height: 360px;
    overflow: hidden;

    transition-duration: 0.2s;
}

.cell:hover {
    cursor: grab;

    transform: scale(0.95);
}

.description_box {
    /* display: none; */
    position: absolute;
    top: 0%;
    width: 100%;
    height: 100%;

    cursor: grab;

    background-color: rgb(30,18,39);
    opacity: 0;
    transition: 0.15s;
}

p {
    font-family: 'tahoma';
    font-size: 12pt;
    line-height: 17pt;

    position: absolute;
    top: 0px;
    margin-top: 0px;
    padding: 13px;
    /* width: 217px; */
    height: 355px;
    overflow-y: scroll;
    overflow-x: none;
    color: rgb(254, 250, 243);
    opacity: 0;
    transition: 0.15s;
}

#pride_flag {
    object-fit: fill; 
    width: 106px; 
    height: 62px; 
    margin-top: 0px;
}

#controler {
    width: 110px;
    object-fit: fill; 
    height: 62px; 
    margin-top: 9px;
}

p::-webkit-scrollbar {
    width: 4.5px;
    /* background-color: aqua; */
}

p::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: rgb(210, 191, 164);
}

/* Styles for Mobile */
    
@media only screen and (max-width: 514px) {

    #header {
        padding-left: 15px;
        width: 290px;
        height: 90px; /* make sure .grid margin-top uses the same value*/

        flex-wrap: wrap;
    }

    #altRow {
        position: fixed;
        top: 35px;
        left: 123px;
    }

    .grid {
        grid-template-columns: repeat(auto-fill, minmax(100px, 189px));
        margin-top: 93px;
        margin-bottom: 10px;
        gap: 7px;
        /* background-color: aqua; */
    }

    .cell {
    /* make sure width to height ratio is 27:40 */
    width: 189px;
    height: 280px;
    }

    .test_cell {
    width: 194.4px;
    height: 288px;
    }

    .cell:hover {
    cursor: grab;
    transform: scale(1);
    }

    p {
        padding: 7px;
        padding-top: 3px;
        font-size: 10pt;
        line-height: 14pt;
        /* background-color: aqua; */
        /* width: 175px; */
        height: 265px;
    }

    #pride_flag {
        width: 90px; 
        height: 54px; 
        margin-top: 16px;
    }

    #controler {
        width: 100px;
    }

}